*~
*.os
*.pyc
*.pydevproject
*.project
*.cproject
*.settings
*.autotools
.*.swp
Makefile
CMakeFiles
CMakeCache.txt
cppcheck_results.xml
install_manifest.txt
*.ui.h
*.cxx
.gdb_history
*.vcxproj*
*.sln
*.db
*.vs
Win32
Win64
*.dir
*.suo
*.sdf
*.opendb
x64
Testing
renderdev/Dockerfile.out


cmd/client_apps/Android/gen/
cmd/client_apps/Android/bin/

*.old
*.bak
*.classpath
*target/

# ignore build/install/build_env dirs
/build
/build_env
/install
/Testing
html
latex
Doxyfile

/.config.xml
/.metadata_src_project
/.src_project*

profiling/build/
profiling/latest_results/
profiling/profile_reports/
profiling/profiles/

/SConstruct
/boot
/site_scons
/bamboo_tools
